@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	/* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg"); */
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}

.primary {
	color: #f81894 !important;
}

.bg-primary {
	background-color: #f81894 !important;
	color: #fff;
}

/* #Primary
================================================== */

::selection {
	color: #fff;
	background-color: #f81894;
}
::-moz-selection {
	color: #fff;
	background-color: #f81894;
}

.btn {
	border-radius: 0px;
	color: #f5f5f5;
	background-color: #f81894;
	font-size: 20px;
	font-weight: 600;
	transition: 0.3s;
	outline: none;
}
.btn:hover {
	background-color: #d61672;
}
.btn:focus {
	transform: scale(0.95);
}

/* #Section Header
================================================== */
.section-title {
	position: relative;
	margin: 32px 0 !important;
}

.section-title h2 {
	font-size: 2rem !important;
	font-family: "Lato", sans-serif;
	font-style: italic;
	color: #f81894;
	font-weight: 600;
}

.section-title::after {
	content: "";
	height: 2px;
	background: #fff;
	bottom: 0;
	width: 100px;
	position: absolute;
	transition: all 0.8s ease;
}

.section-title:hover::after {
	width: 120px;
}

/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img {
	height: 24px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.navigation-wrap {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	padding: 2px 0;
}

/* .navbar-brand img {
	height: 28px;
	width: auto;
	display: block;
	filter: brightness(10%);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
} */

.navbar-brand h3 {
	font-family: "Satisfy", sans-serif;
	font-style: italic;
	font-size: 30px !important;
	font-weight: 800 !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 1s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: "";
	z-index: 2;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link {
	color: #212121 !important;
	font-weight: 500;
	transition: all 200ms linear;
}
.nav-item:hover .nav-link {
	color: #f81894 !important;
}
.nav-item.active .nav-link {
	color: #f81894 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: #f81894;
	opacity: 0;
	transition: all 200ms linear;
}
.nav-item:hover:after {
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after {
	opacity: 0;
}
.nav-item {
	position: relative;
	transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
	transition: all 200ms linear;
}
.section {
	position: relative;
	width: 100%;
	display: block;
}
.full-height {
	height: 100%;
}
.over-hide {
	overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.body {
	background-color: rgb(021, 021, 021);
	padding: 0 32px;
}
/* ========================= HOME SECTION ==================== */
#home {
	/* height: 100vh; */
	padding-top: 72px;
	background: url(../img/Ruthie-hero.jpg);
	background-color: rgb(021, 021, 021);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 78vh;
	box-sizing: border-box;
}

#home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(021, 021, 021);
	opacity: 0.8;
}

#home .row {
	border-bottom: 2px #f81894 solid;
	padding: 0 4rem;
}

/* .hero .row {
	height: 100%;
} */

.bg-photo {
	background-image: url("../img/Ruthie-bg.jpg");
	background-position: top;
	height: 80vh;
	/* margin-top: 24px; */
	background-size: cover;
	background-repeat: repeat;
	/* background-size: 7%; */
	background-color: #fff;
	overflow-x: hidden;
	margin-bottom: -1px;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.bg-photo::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(021, 021, 021);
	opacity: 0.2;
}

h1.hey {
	color: #fff;
	font-size: 4rem;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-weight: 800;
	letter-spacing: 16px;
	padding-bottom: 24px;
	/* margin-top: 100px; */
	position: relative;
	animation: animate 3s linear;
	animation-iteration-count: 2;
}

h1.hey::after {
	content: "";
	height: 2px;
	background-color: #f81894;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 24%;
}

h2.person {
	color: #f81894;
	font-family: "Satisfy", cursive;
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top: 24px;
	position: relative;
	animation: text 3s;
	animation-direction: alternate-reverse;
	animation-iteration-count: 1;
}

@keyframes animate {
	0% {
		letter-spacing: 35px;
		margin-bottom: -80px;
	}
	30% {
		letter-spacing: 25px;
		margin-bottom: 40px;
	}
	85% {
		letter-spacing: 16px;
		margin-bottom: -80px;
	}
}
@keyframes text {
	0% {
		color: transparent;
	}

	50% {
		color: #f81894;
	}
}

#home p {
	color: #fff;
	font-size: 1rem;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-weight: 600;
	margin-top: 18px;
	letter-spacing: 8px;
}

.middle {
	vertical-align: middle;
}

#about {
	margin-top: 86px;
	padding-top: 72px;
	min-height: 86vh;
	background-color: rgb(021, 021, 021);
	/* box-sizing: border-box; */
	/* padding-top: 32px; */
}

.about-row {
	height: 100%;
	box-sizing: border-box;
}

#about .about-img {
	height: 360px;
	background-image: url("../img/Ruthie-about2.jpeg");
	background-position: top;
	margin-top: 24px;
	background-size: cover;
	background-repeat: repeat;
	/* background-size: 7%; */
	background-color: #fff;
	overflow-x: hidden;
	margin: 12px;
	/* margin-bottom: -1px; */
	clip-path: polygon(0 22%, 100% 0%, 100% 78%, 0% 100%);
}

#about .about-text {
	font-size: 1rem;
	font-family: "lato", sans-serif;
	font-weight: 300 !important;
	letter-spacing: 1.5px;
	padding: 18px 0px;
}
#about .hire-me {
	margin: 0 24px;
}
/* #Services
================================================== */
#services {
	/* margin-top: 91px; */
	min-height: 86vh;
	margin-top: -2px;
	background-color: rgb(021, 021, 021);
	/* box-sizing: border-box; */
	padding-top: 72px;
}

#services .card {
	color: #fff;
	background: #242424;
	height: 220px;
	margin-top: 24px;
	margin-bottom: 24px;
}

#services .card .img {
	vertical-align: middle;
}

#services .card .img img {
	display: block;
	margin-top: 32px;
	width: 64px;
	height: 64px;
}

.card-text h4 {
	margin-top: 12px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 4px;
}

/* PORTFOLIO
================================================== */
#portfolio {
	min-height: 86vh;
	margin-top: -2px;
	background-color: rgb(021, 021, 021);
	/* box-sizing: border-box; */
	padding-top: 72px;
}

.slider-row {
	min-height: 80vh;
	align-items: center;
}

.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 440px;
	background: #242424;
}

.swiper-text h4 {
	margin-top: 12px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 4px;
	color: #f81894;
}

.swiper-text p {
	margin-top: 8px;
	font-size: 1rem;
	font-weight: 300;
	padding: 12px;
	color: #fff;
}

.swiper-button {
	color: #f81894;
}

.swiper-slide img {
	width: 100%; /* width of container */
	height: 200px;
	object-fit: cover;
	object-position: 20% 10%;
	margin-bottom: 24px;
}

/* CONTACT
================================================== */
#contact {
	min-height: 95vh;
	margin-top: -2px;
	background-color: rgb(021, 021, 021);
	padding-top: 72px;
	padding-bottom: 62px;
	display: flex;
	align-items: center;
}

#contact .container {
	height: 85%;
	margin-bottom: 30px;
}

.contact-row {
	height: 100%;
}

.contact-info {
	position: relative;
	background-color: #f81894;
	margin-right: -32px;
	padding: 24px 12px;
	height: 320px;
	z-index: 1;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.contact-info h2 {
	font-size: 24px;
	/* width: 100%; */
	font-weight: 700;
	letter-spacing: 3px;
	font-style: italic;
	color: #fff;
}

.contact-info .info li {
	color: #fff;
	list-style: none;
	margin: 24px 4px;
}

.contact-info li span {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
}
.contact-info li img {
	width: 20px;
	height: 20px;
	margin-right: 18px;
}

.contact-info .sci {
	position: absolute;
	bottom: 12px;
	list-style: none;
	display: flex;
}

.contact-info .sci li {
	margin-right: 18px;
}

.contact-form {
	background-color: #fff;
	height: 480px;
	padding: 24px 12px;
	padding-left: 60px;
}

.contact-form h2 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 3px;
	margin-top: 20px;
	/* font-style: italic; */
	color: #f81894;
}

.contact-form .formbox {
	/* width: 100%; */
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 12px;
	justify-content: space-between;
}

.contact-form .formbox .inputbox {
	position: relative;
}

.contact-form .formbox .w50 {
	width: 48%;
}
.contact-form .formbox .w100 {
	width: 100%;
}
.contact-form .formbox input,
.contact-form .formbox textarea {
	width: 100%;
	resize: none;
	margin-bottom: 40px;
	padding: 4px 0;
	font-size: 18px;
	font-weight: 300;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
}

.contact-form .formbox textarea {
	height: 100px;
	margin-bottom: 12px;
}

.contact-form .formbox span,
.contact-form .formbox span {
	font-size: 18px;
	font-weight: 300;
	transition: 0.5s;
}

.contact-form .formbox input:focus ~ span,
.contact-form .formbox textarea:focus ~ span,
.contact-form .formbox input:valid ~ span,
.contact-form .formbox textarea:valid ~ span {
	transform: translateY(-20px);
	font-size: 12px;
	color: #f81894;
	font-weight: 700;
}

.contact-form .formbox span {
	position: absolute;
	left: 0;
	margin-bottom: 0;
}

.contact-form .btn {
	width: 100%;
}

/* ========== FOOTER ========== */
footer {
	background-color: #252525;
	border-top: solid 2px #f81894;
	background: url(../img/news_3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	min-height: 240px;
	padding: 70px 12px;
}
footer::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 101%;
	background: rgb(021, 021, 021);
	opacity: 0.7;
}

footer h2,
footer h4,
footer h6 {
	text-align: center;
	margin: 16px 0;
}

footer h2 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
}

footer h4 {
	letter-spacing: 1.5px;
	font-size: 20px;
	font-weight: 500;
}

footer h6 {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}

footer h4 span {
	font-style: italic;
	font-family: "Satisfy", cursive;
	color: #f81894;
	font-size: 24px !important;
	margin: 0 4px;
}

footer h6 span {
	font-size: 24px;
	color: #f81894;
}

@media (max-width: 992px) {
	.contact-info {
		margin-right: 0px;
		width: 80%;
	}

	ul.info {
		padding-left: 0 !important;
	}

	.info div {
		margin: 24px auto;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.contact-form {
		height: 440px;
		padding: 32px 12px;
		padding-left: 12px;
		margin-top: -20px;
	}
	.contact-form h2 {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 3px;
		margin-top: 20px;
		/* font-style: italic; */
		color: #f81894;
		text-align: center;
	}
}

/* #Media
================================================== */

@media (max-width: 767px) {
	h1 {
		font-size: 38px;
	}
	.nav-item:after {
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after {
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}

	#home {
		/* height: 100vh; */
		/* padding-top: 90px; */
		margin-top: 0;
		padding-top: 62px;
		background: url(../img/Ruthie-hero.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-clip: border-box;
		background-attachment: fixed;
		background-position: top;
		width: 100%;
		height: 70vh;
		position: relative;
	}

	#home::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(021, 021, 021);
		/* background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(141, 63, 208, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	); */
		opacity: 0.8;
	}

	#home .row {
		border-bottom: 2px #f81894 solid;
		padding: 0;
		position: relative;
	}

	.bg-photo {
		background-image: url("../img/Ruthie-bg.jpg");
		background-color: rgb(021, 021, 021);
		background-position: top;
		height: 80vh;
		margin-top: 12px;
		background-size: cover;
		background-repeat: repeat;
		/* background-attachment: fixed; */
		/* background-size: 7%; */
		background-color: #fff;
		overflow-x: hidden;
		clip-path: none;
	}
	.bg-photo::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(021, 021, 021);
		opacity: 0.4;
	}

	.intro {
		margin-top: -60% !important;
		z-index: 1;
	}
}

@media (max-width: 500px) {
	.intro {
		margin-top: -85% !important;
		z-index: 1;
	}

	h1.hey {
		font-size: 3rem;
	}

	h2.person {
		font-size: 3.5rem;
	}

	#home p {
		font-size: 1rem;
	}

	.swiper-container {
		margin: 12px;
		overflow: hidden;
	}
	.contact-info li img {
		width: 18px;
		height: 18px;
		margin-right: 8px;
	}

	footer h2 {
		font-size: 20px;
		letter-spacing: 1.5px;
	}

	footer h4 {
		letter-spacing: 1.2px;
		font-size: 16px;
		font-weight: 500;
	}

	footer h6 {
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}

@media (max-width: 360px) {
	.intro {
		margin-top: -95% !important;
		z-index: 1;
	}

	h1.hey {
		font-size: 2rem;
	}

	h2.person {
		font-size: 2.8rem;
	}

	#home p {
		font-size: 0.8rem;
	}
}

/* #Link to page
================================================== */

/* .logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
	filter: brightness(10%);
	transition: all 250ms linear;
} */
body.dark .logo img {
	filter: brightness(100%);
}
